@keyframes disappear {
  0% {transform: translateY(0); opacity: 0;}
  50% {transform: translateY(-200); opacity: 1;}
  100% {transform: translateY(0); opacity: 0;}   
}

html, body {
    text-align: center;
    background-color: black;
}

div h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-size: 48px;
  font-style: normal;
  color: black;
  opacity: 50%;
}

div #paragraph {
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  font-size: 26px;
  margin: 25px auto;
  max-width: 768px;
  font-style: normal;
  color: white;
  padding-bottom: 10px;
}

#bkground3 {
  background-color: white;
  width: 1600px;
  height: 425px;
  padding: 1px;
  vertical-align: middle;
  margin: 0 auto;
}

#bkground2 {
  background-color: blue;
  text-align: center;
  width: 1600px;
  padding: 1px;
  margin: 0 auto;
}

#bkground {
  background-color: yellow;
  justify-content: center;
  text-align: center;
  width: 1600px;
  padding: 1px;
  margin: 50px auto 0px;
}

/* LEMON */

#Lemon {
  position: absolute; left: 100px; bottom: 180px;
}

#L14, #L10 {
  fill:#77b255;
}

#L12 {
  fill:#ffcc4d;
}

#L12:hover {
  fill:green
}

#L8 {
  fill:#5c913b;
}

#L14:hover {
  fill:#ffcc4d;
}

#L8:hover {
  fill:#77b255;
}

/* PINEAPPLE */

#Pineapple {
  position: absolute; left: 325px; bottom: 170px;
}

#Pineapple:hover {
  rotate: 180deg;
  transition: all 0.5s ease;
}

/* ORANGE */

#Orange {
  position: absolute; left: 600px; bottom: 160px;
}

#Orange:hover {
  animation-name: disappear;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

/* GRAPEFRUIT */

#Cut {
  position: absolute; left: 863px; bottom: 161px;
}

#Grapefruit {
  position: absolute; left: 825px; bottom: 155px;
  transition: all 0.5s ease;
}

#Grapefruit:hover {
  opacity: 0%;
}

/* FACEBOOK */

#Facebook {
  position: absolute; left: 1125px; bottom: 175px;
}

#F2 {
  fill: #4460A0;
  transition: all 2s ease-out;
}

#F2:hover {
  fill: black;
}



/* INSTAGRAM */

#Instagram {
  position: absolute; left: 1375px; bottom: 160px;
}

#Instagram:hover {
  width: 200px;
  height: 200px;
  position: absolute; left: 1375px; bottom: 175px;

}